/** TEMP STYLES **/

.temp-div {
  max-width: 100%;
  text-align: center;
  margin-top: 100px;
}

.temp-div > h1 {
  font-size: 10em;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #333447;
  background-color: #fefefe;
}

